{%extends "base.html"%} {%block content%}
{%load static%}
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Бидний тухай</h2>
        
    </div>
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">
    <div class="row">
                <img src="aboutus.jpg" alt="" class="hayg__image" />
<section class="info-section" id="first">
    <div class="info-content">
          <article>
      <P> “Шагнаа” ХХК нь 2014 онд үүсгэн байгуулагдаж, өнөөг хүртэл тасралтгүй үйл ажиллагаа явуулж байна. 
        <P>Үндсэн үйл ажиллагааны чиглэл: </P> 
      <li>Бизнесийн зөвлөгөө өгөх</li>
      <li>Автомашин, хүнд машин механизмын түрээс, худалдаа</li>
      <li>Төлбөр эсвэл гэрээний үндсэн дээр хийгдэх бөөний худалдаа</li>
      <li>Улс хоорондын шуудангийн үйлчилгээ</li>
      <li>Авто машинаар ачаа тээвэрлэх </li>
      <li>Олон улсын ачаа тээврийн үйлчилгээ</li>
      <p>Бидний хэрэгжүүлсэн томоохон ажлуудаас:</p>
      <p>Манай компани 2014 онд үүсгэн байгуулагдаж Гадаад худалдаа, Бизнесийн зөвлөх үйлчилгээ, Олон улсын авто тээвэр, Автомашин, хүнд машин механизмын түрээс, худалдааны чиглэлээр үйл ажиллагаа явуулж ирсэн. </p>
        <p>Шагнаа ХХК нь 2014 оноос 2016 оны хооронд бизнесийн зөвлөх үйлчилгээ үзүүлэх чиглэлд төвлөрөн ажиллаж, туршлага хуримтлуулсан. 
            2016 оноос эхлэн техникийн түрээсийн үйл ажиллагаа явуулж эхлэн, хөдөө орон нутаг дахь уул уурхайн компаниудтай хамтран ажиллаж, талбай дотор болон гадна баяжмал тээвэрлэх, баяжмал ачих ажил үйлчилгээ үзүүлж эхэлсэн юм.      
             2020-2022 онуудад “Нийслэлийн агаарын бохирдолтой тэмцэх газар”, “Таван толгой түлш ХХК”-тай гурвалсан гэрээ байгуулан “Сайжруулсан шахмал түлш”-ний тээврийн үйл ажиллагааг зохион байгуулан ажилласан.</p>
      
  <p> 2023 онд International Road Transport Union (IRU) – ийн итгэмжлэгдсэн төлөөлөгчийн газар болох “Монголын авто тээвэрчдийн нэгдсэн холбоо”-ноос ТИР горимын тээвэрлэлтийн тусгай зөвшөөрөл мөн “Монголын харилцаа холбооны зохицуулах хороо”-ноос олгодог “Олон улсын илгээмж шуудангийн үйлчилгээ эрхлэх тусгай зөвшөөрлийг “АНУ-Монгол болон БНСАУ-Монгол” гэсэн чиглэлүүдэд тус тус үйл ажиллагаа явуулах зөвшөөрөл авсан.
    Бид өнөөдрийн байдлаар БНХАУ-ОХУ болон ОХУ-Монгол, ОХУ-БНХАУ чиглэлд олон улсын тээврийг тогтмол гүйцэтгэж байна.</p>
    </div>
 </section>

  <section class="info-section" id="second">
      <div class="info-content">
<article>
<p>Бид уул уурхайн компаниудтай машин, техник түрээс, тээвэр болон туслан гүйцэтгэх гэрээний хүрээнд алтны шороо орд бүхий уурхай, төмрийн хүдрийн уурхай, нүүрсний уурхайд ажиллаж байсан туршлагатай. </p>
<p>Манай баг хамт олны ажилласан уурхайнууд:</p>
<li>Төв аймгийн Заамар сум</li>
<li>Төв аймгийн Баян сум</li>
<li>Өмнөговь аймгийн Цогтцэций сум </li>
<li>Архангай аймгийн Цэнхэр сум</li>
<li>Дорноговь аймгийн Алтанширээ сум </li>
<p>тус тус байршилд ажиллаж байсан туршлагатай. </p>
<img src="truck.jpg" alt="" class="truck" />
<img src="truck2.jpg" alt="" class="truck2" />
</article>
      </div>


  </section class="info-section" id="third">
    <div class="info-content">
        <article>
        <img src="aa.jpg" alt="" class="aa" />
        <img src="manheim.jpg" alt="" class="manheim" />
        <p>Бид 2018 оны 1 сараас эхлэн Америкийн нэгдсэн улс (АНУ)-ын Авто дилерийн зах зээлд үйл ажиллагаагаа тэлж анхны Монгол улсад бүртгэлтэй компани авто дилерийн чиглэлээр үйл ажиллагаа явуулах зөвшөөрлийг Америкийн нэгдсэн улсын даатгалын компаниудын авто машины дуудлага худалдаа болох “Ай Эй Эй Ай Инк”-ийн  (IAAI.com, Insurance auto auction Inc) болон хойд Америкийн хамгийн том авто дуудлага худалдааны сүлжээ болох Манхиэм авто аукцион (Manhiem.com) – тай хамтын ажиллагааг тус тус эхлүүлэн, АНУ-аас авто машиныг Монгол улсад тогтмол нийлүүлэн ажиллаж байна.</p>
    </article>
    </div>
    
  </section>
        </div>
    </div> 
    </div>
    </div>
    </section>
{%endblock%}